{% extends 'base.html' %}
{% load static %}
{# 页面标题 #}
{% block title %}
    {{ blog.title }}
{% endblock %}

{% block header_extends %}
   {% comment %} <link rel="stylesheet" href="{% static 'blog/blog.css' %}">{% endcomment %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{# 页面内容 #}
{% block content %}
    <h3>{{ blog.title }}</h3>
    <p>作者：{{ blog.author }}</p>
    <p>发表日期：{{ blog.created_time|date:"Y-m-d H:n:s" }}</p>
    <p>阅读次数:{{ blog.read_num }}</p>
    <p>分类：
        <a href="{% url 'blogs_with_type' blog.blog_type.pk %}">
            {{ blog.blog_type }}
        </a>
    </p>
    <p>{{ blog.content|safe }}</p>
    {# 点赞按钮 #}
    <div class="like">
        <span class="gl">
            <span class="like-num">0</span>
            <span>喜欢</span>
        </span>
    </div>


    {# 提交评论区域 #}
    <div>
        提交评论区域
        {% if user.is_authenticated %}
                        <form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow:hidden">
                            <label>{{ user.username }}，欢迎评论~</label>
                            {% csrf_token %}
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <input type="submit" value="评论">


                           {% comment %} <textarea id="comment_text" class="form-control" name="text" rows="4"></textarea>

                            <input type="hidden" name="object_id" value="{{ blog.pk }}">
                            <input type="hidden" name="content_type" value="blog">
                            <input type="submit" value="评论">{% endcomment %}
                        </form>
        {% else %}
            未登录，登录之后方可评论~
            <a href="{% url 'login' %}{% comment %}?form={{ request.get_full_path }}{% endcomment %}">登录</a>
            <a href="{% url 'register' %}">注册</a>
      {% endif %}

</div>
            {% comment %}<form action=" {% url 'login' %}" method="post">
               <span>用户名</span> <input type="text" name="username">
                <span>密码</span><input name="password" type="password"> {# 密码框 可以隐藏密码 #}
                <input type="submit" value="登录">
            </form>{% endcomment %}

    </div>
    <div>
         评论区列表
    <div>
<div id="comment_list">
                        {% for comment in comments %}
                            <div>
                                {{ comment.user.username }}
                                ({{ comment.comment_time|date:"Y-m-d H:i:s" }})：
                                {{ comment.text|safe }}
                            </div>
                        {% empty %}
                            暂无评论
                        {% endfor %}
                    </div>

    </div>

    </div>
{% endblock %}

{% comment %}js代码{% endcomment %}
{% block script_extends %}
    <script type="text/javascript">
        $("#comment_form").submit(function(){
            // 判断是否为空
            $("#comment_error").text('');
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()==''){
                $("#comment_error").text('评论内容不能为空');
                return false;
            }

            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();

            // 异步提交
            $.ajax({
                url: "{% url 'update_comment' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=="SUCCESS"){
                        // 插入数据
                        var comment_html = '<div>' + data['username'] +
                                           ' (' + data['comment_time'] + ')：' +
                                           data['text'] + '</div>';
                        $("#comment_list").prepend(comment_html);
                        // 清空编辑框的内容
                        CKEDITOR.instances['id_text'].setData('');
                    }else{
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        });
    </script>
{% endblock %}